@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} 

.main-container
{
    background-color: rgba(255, 255, 255, 0.171);
}

.header-container,
.header-container div,
.unordered-list
{
    display: flex;
}

.header-container
{
    background-color: white;
    padding: 20px;
    justify-content: space-around;
}

.header-container > div:nth-child(2)
{
    justify-content: center;
    align-items: center;
}
.header-container img {
    width: 150px;
}

.unordered-list
{
    gap: 60px;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

.unordered-list a
{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.body-container
{
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    background-color: #9bbdf6;
    gap: 20px;
}

.title
{
    display: flex;
    justify-content: center;
}

.title h1
{
    font-family: sans-serif;
    font-size: 40px;
    padding: 40px;
    background-color: white;
}

.content-container
{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.column-one
{
    display: flex;
    flex: 1 1 60%;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
}

.content-img {
    display: flex;
    flex: 1 1 40%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.content-one,
.content-two
{
    display: flex;
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
}

.content-img img,
.content-img img
{
    display: flex;
    object-fit: cover;

}

.content-one > div:nth-child(2),
.content-two > div:nth-child(2)
{   
    display: flex;
    flex: 1 1 60%;
    flex-flow: column wrap;
    padding: 50px;
    gap: 20px;
}

.column-two
{
    display: flex;
    flex: 1 1 40%;
    flex-flow: column wrap;
    background-color: #fff7ff;
    gap: 40px;
    padding: 40px;
}

.secondary-title
{
    display: flex;
    justify-content: center;
}

.secondary-pictures
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.secondary-pictures div
{
    display: flex;
    padding: 5px;
}

@media (max-width: 1800px) {
    .column-one {
        flex-basis: 70%;
    }
    .column-two {
        flex-basis: 30%;
    }
}

@media (max-width: 1400px) {
    .content-container {
        flex-flow: column wrap;
        gap: 20px;
    }
    .column-one {
        flex-basis: 100%;
    }
    .column-two {
        flex-basis: 100%;
    }
    .content-one > div:nth-child(2) h1,
    .content-two > div:nth-child(2) h1
    {   
        text-align: center;
    }
}

@media (max-width: 800px) {

    .content-one,
    .content-two
    {
        flex-flow: column wrap;
    }
}

@media (max-width: 600px) {
    .header-container > div:nth-child(1)
    {
        display: none;
    }
    .unordered-list
    {
        gap: 30px;

    }
    .title h1
    {
        font-size: 25px;
        padding: 10px;
    }
    .content-one,
    .content-two
    {
        width: 100%;
    }
    .body-container
    {
        padding: 20px 0 0 0;

    }
    .secondary-title
    {
        text-align: center;
    }
}