@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.main-container
{
    background-color: rgba(255, 255, 255, 0.171);
    height: 2000px;
}

.header-container
{
    display: flex;
    background-color: white;
    height: 60px;
    padding: 20px;
    gap: 300px;
    justify-content: space-between;
    text-align: center;
}

.header-container > div:nth-child(1)
{
    flex: 1 1 auto;
    height: 50px;
}

.header-container > div:nth-child(2)
{
    flex: 1 1 400px;
    height: 50px;
}

.unordered-list
{
    
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    list-style: none;
}

.unordered-list li, a
{
    flex: 1;
    text-decoration: none;
    font-size: 20px;
}

.body-container
{
    padding: 50px;
    background-color: #9bbdf6;
    height: 1000px;
}

.title h1
{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

.content-container
{
    display: flex;
    background-color: white;
    width: auto;
    height: 2000px;
}

.column-one
{
    flex: 1 1 auto;
    padding: 10px;
}

.content-one
{
    display: flex;
    background-color: #86307b5e;
    width: 900px;
    margin-left: 80px;
    margin-top: -10px;
    gap: 50px;
    padding: 50px;
}

.content-two > div:nth-child(2)
{
    flex: 1 1 auto;
}

.content-two
{
    display: flex;
    background-color: #86307b5e;
    width: 900px;
    margin-left: 80px;
    margin-top: 10px;
    gap: 50px;
    padding: 50px;
}

.content-one > div:nth-child(2)
{
    flex: 1 1 auto;
}

.column-two
{
    flex: 1 1 900px;
    height: 1500px;
    background-color: #86307b5e;
    padding: 40px;
}

.secondary-title, p
{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.secondary-pictures
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secondary-pictures img
{
    margin: 5px;
}